<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Home</h1>
    <a href="/sign-up"><button>Sign Up</button></a>
    <a href="/log-in"><Button>Log In</Button></a>
    <% if (locals.user) { %>
    <div>User is logged in</div>
    <a href="/upload-file"><button>Upload File</button></a>
    <a href="/create-folder"><button>Create Folder</button></a>
    <!-- Show users folders -->
    <% } %>
  </body>
</html>
