<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload File</title>
  </head>
  <body>
    <form action="/upload-file" method="post" enctype="multipart/form-data">
      <label for="file">File: </label>
      <input type="file" name="file" />
      <label for="folder">Folder: </label>
      <select name="folder">
        <option value="default">Default</option>
        <!-- Show folders they made -->
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
