<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload File</title>
  </head>
  <body>
    <form action="/upload-file" method="post" enctype="multipart/form-data">
      <label for="file">File: </label>
      <input type="file" name="file" />
      <label for="folder">Folder: </label>
      <% if (folders.length < 1) { %>
      <div>No folders will use default</div>
      <% } else { %>
      <select name="folder">
        <% folders.forEach((folder) => { %>
        <option value="<%= folder.id %>"><%= folder.name %></option>
        <% }) %>
      </select>
      <% } %>
      <button type="submit">Submit</button>
    </form>
    <a href="/"><button>Home</button></a>
  </body>
</html>
